{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  <title> Running Polls </title>
</head>
<body>
<div class="menubar"> 
  <a href="http://172.19.50.157/pj04/"> Home </a>
  <a href="http://172.19.50.157/pj04/static/polls.html"> Polls </a>
  <a href="http://172.19.50.157/pj04/admin/"> Admin </a>
  <a href="http://172.19.50.157/pj04/static/schema.html"> Schema </a></div>
<hr>
<h1>What's your favorite part of running?</h1>
<p>There are many different great parts of running. What would you vote as your favorite? 
Be sure to check out the polls and vote! </p>

</body>