<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title>Add Artwork</title>
        </head>

        <body>
          <!-- NAVIGATION BAR-->
          <ul>
            <li class="horizontal_nav"><a href="{% url 'artists:index' %}">Home</a></li>
            <li class="horizontal_nav"><a href="{% url 'artists:gallery' %}">Gallery</a></li>
            <li class="horizontal_nav"><a href="{% url 'artists:add_artwork' %}">Add Artwork</a></li>
            <li class="horizontal_nav"><a href="#about">About</a></li>
          </ul>
                <h1>Add Artwork</h1>

                <form action="{% url 'artists:add_artwork' %}" method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                Art Title:<br><input type="text" name="art_title"/><br><br>
                Price:<br><input type="number" name="price" min="1" max="1000000"/><br>
                <br>
                Image Upload:<br><input type="file" name="myfile"><br>

                <br>
                <input type="submit" value="Add Artwork"/>
                </form>


        </body>
</html>

