<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title>Artist Registration</title>
        </head>

        <body>
          <!-- NAVIGATION BAR-->
          <ul>
            <li class="horizontal_nav"><a href="{% url 'artists:index' %}">Home</a></li>
            <li class="horizontal_nav"><a href="{% url 'artists:gallery' %}">Gallery</a></li>
            <li class="horizontal_nav"><a href="{% url 'artists:add_artwork' %}">Add Artwork</a></li>
            <li class="horizontal_nav"><a href="#about">About</a></li>
          </ul>

                <h1>Sign-up</h1>
                <form form method="post">
                        First Name:<br>
                        <input type="text" name="first-name"><br>
                        Last Name:<br>
                        <input type="text" name="last-name"><br>
                        Password:<br>
                        <input type="text" name="password"><br>
                        Username:<br>
                        <input type="text" name="username"><br>
                        Email:<br>
                        <input type="text" name="email"><br>


                </form>
                <button type="submit">Register</button>

        </body>
</html>
