<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title></title>
        </head>
        <body>
                <ul>
                  <li class="horizontal_nav"><a href="{% url 'artists:index' %}">Home</a></li>
                  <li class="horizontal_nav"><a href="{% url 'artists:gallery' %}">Gallery</a></li>
                  <li class="horizontal_nav"><a href="{% url 'artists:add_artwork' %}">Add Artwork</a></li>
                  <li class="horizontal_nav"><a href="#about">About</a></li>
                </ul>

                <h1>Customer Login</h1>

                <form action="{% url 'artists:customer_login' %}" method="POST">
                          {% csrf_token %}
                          <p>Username</p>
                          <input type="text" name="customer_username" placeholder="Enter username">
                          <p>Password</p>
                          <input type="password" name="customer_password" placeholder="Enter Password">
                          <input type="submit" name="" value="Login">
                          <a href="{% url 'artists:customer_register' %}">Don't have an account?</a>
                </form>


        </body>
</html>
