<!DOCTYPE html>
<html lang="en" dir="ltr">
        <head>
                <meta charset="utf-8">
                <title>Customer Registration</title>
        </head>

        <body>
          <!-- NAVIGATION BAR-->
          <ul>
            <li class="horizontal_nav"><a href="{% url 'artists:index' %}">Home</a></li>
            <li class="horizontal_nav"><a href="{% url 'artists:gallery' %}">Gallery</a></li>
            <li class="horizontal_nav"><a href="{% url 'artists:add_artwork' %}">Add Artwork</a></li>
            <li class="horizontal_nav"><a href="#about">About</a></li>
          </ul>

                <h1>Customer Sign-up</h1>
                <form action="{% url 'artists:customer_register' %}" method="POST">
                        {% csrf_token %}
                        First Name:<br>
                        <input type="text" name="first_name"><br>
                        Last Name:<br>
                        <input type="text" name="last_name"><br>
                        Password:<br>
                        <input type="text" name="password"><br>
                        Username:<br>
                        <input type="text" name="username"><br>
                        Email:<br>
                        <input type="text" name="email"><br>

                        <button type="submit">Register</button>
                </form>


        </body>
</html>
