<!-- NAVIGATION BAR-->
<ul>
  <li class="horizontal_nav"><a href="{% url 'artists:index' %}">Home</a></li>
  <li class="horizontal_nav"><a href="{% url 'artists:gallery' %}">Gallery</a></li>
  <li class="horizontal_nav"><a href="{% url 'artists:add_artwork' %}">Add Artwork</a></li>
  <li class="horizontal_nav"><a href="#about">About</a></li>
</ul>

<ul>
        {% for Artwork in all_artwork %}
                <img src="{{ Artwork.image.url }}" height="250" width="250"> <br>
                <b>Artwork Title:</b> "{{ Artwork.art_title }}" <br>
                <b>Artist:</b> {{ Artwork.artist_id.first_name }} {{ Artwork.artist_id.last_name }} <br>
                <b>Price:</b> ${{ Artwork.price }} <br> <br> <br> <br>
        {% endfor %}
</ul
