
<html>
<head>
<title>Login Form Design</title>
  <!-- <link rel="stylesheet" type="text/css" href="artists.style.css">
-->
</head>

<body>
        <!-- NAVIGATION BAR-->
        <ul>
        <li class="horizontal_nav"><a href="{% url 'artists:index' %}">Home</a></li>
        <li class="horizontal_nav"><a href="{% url 'artists:gallery' %}">Gallery</a></li>
        <li class="horizontal_nav"><a href="{% url 'artists:add_artwork' %}">Add Artwork</a></li>
        <li class="horizontal_nav"><a href="#about">About</a></li>
        </ul>



        <a href="{% url 'artists:customer_login' %}">Customer Login</a><br>
        <a href="{% url 'artists:customer_register' %}">Don't have a customer account?</a><br><br><br><br>


        <a href="{% url 'artists:artist_login' %}">Artist Login</a><br>
        <a href="{% url 'artists:artist_register' %}">Don't have an account?</a>





</body>

</html>
